{% extends "layout.html" %} {% block content %}
<html>

<body>
    <h1 style="color:#000035">Группа БУТЫРКА</h1>

    <div style="color:#160b33">«Буты́рка» — российская музыкальная группа, исполняющая песни в жанрах русский шансон, блатная песня и городской романс.[1] История группы начинается с сентября 2001 года. Музыканты начинают сотрудничество с компанией «Русский шансон», где их заметил
        продюсер Александр Абрамов. Он убедил директора фирмы Юрия Севастьянова, который «раскручивал» Михаила Круга и Сергея Наговицына, обратить внимание на группу. Музыканты выпустили дебютный альбом, который получил незамысловатое название «Первый
        альбом» и принес группе первую популярность. Название коллектива появилось случайно. 3 сентября 2001 года несколько заключенных совершили дерзкий побег из московского следственного изолятора, известного под названием «Бутырка». Так группа обрела
        свое имя. «Второй альбом» не заставил себя долго ждать и вышел в 2002 году. Третья пластинка группы «Весточка» вышла в январе 2004, в 2005 — альбом «Икона», а в 2007 — «Глобус». Параллельно с выпуском пластинок группа снимала клипы. Особенно популярным
        стал клип песни «Запахло весной» (режиссер Александр Тумандеев). За эту работу группа получила премию за лучшее видео в жанре «Русский шансон». В 2009 году выходит «Шестой альбом», в 2010 - «Улица Свободы» и «Хулиган» , в 2014 — альбом «Вернусь
        домой», в 2015 – «Свиданка», в 2019 - «Голубка». В 2020 году группа обрела второе дыхание — состав пополнился новыми солистами. А автор песен Олег Симонов поклонникам давно знаком. Состав группы на протяжении творческого пути менялся. Но неизменным
        остаётся звучание песен, вокал, тексты Олега Симонова. Одной из основных особенностей песнь «Бутырки» – не только наличие в темах описания жизни в тюрьме, но и завершенность историй. Поэтому они стали нарицательными и получили признание миллионов
        слушателей. Сегодня группа «Бутырка» ведёт активную концертную деятельность как в России, так и за ее пределами. Является постоянным участником фестивалей под эгидой Радио Шансон.
    </div>

</body>

</html>
{% endblock content %}